[submodule "repos/reqwest"]
	path = repos/reqwest
	url = https://github.com/SimonWaldherr/reqwest
[submodule "repos/easySQL"]
	path = repos/easySQL
	url = git@github.com:SimonWaldherr/easySQL.git
[submodule "repos/colorize.js"]
	path = repos/colorize.js
	url = git@github.com:SimonWaldherr/colorize.js.git
[submodule "repos/jsHashes"]
	path = repos/jsHashes
	url = git://github.com/h2non/jsHashes.git
[submodule "repos/daterangepicker"]
	path = repos/daterangepicker
	url = git://github.com/dangrossman/bootstrap-daterangepicker.git
[submodule "repos/timeframe"]
	path = repos/timeframe
	url = git://github.com/stephencelis/timeframe.git
[submodule "repos/textselect"]
	path = repos/textselect
	url = git://github.com/lmws/js-selection-range.git
[submodule "repos/worddistance"]
	path = repos/worddistance
	url = git@github.com:SimonWaldherr/js-worddistance.git
